{
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": [".ts", ".tsx"],
      "options": {
        "parser": "babel-ts"
      }
    },
    {
      "files": [".js", ".jsx"],
      "options": {
        "parser": "babel"
      }
    }
  ]
}
